{% extends "basic.html" %}

{% block title %}主界面{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
<div class="container-fluid" style="background:#D2DEDC">
    <form action="{{ url_for ('home.search_words')}}" method="post">
        <nav class="navbar navbar-light bg-light" style="height:100px">
            <div class="container">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="search_word"
                           style="height:50px" placeholder="请输入查询关键词"
                           aria-label="Recipient's username"
                           aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary ml-3" type="submit" id="button-addon2">搜索</button>
                    </div>
                </div>
            </div>
        </nav>
    </form>
    <!--下面是对查询结果的一个返回集合-->
    <div class="container">
        {% for tag in answers %}
        <div class="card mt-5">
            <div class="card-header">
                穴位
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ tag.mingcheng }}</h5>
                <p class="card-text">{{ tag.weizhi }}</p>
                {% if word != "" %}
                    <p class="card-text">{{ tag.fangli.split(word)[0] }}<strong>{{ word }}</strong>
                        {{ tag.fangli.split(word)[1] }}</p>
                {% else %}
                    <p class="card-text">{{ tag.fangli }}</p>
                {% endif %}
                <a href="/home/xuewei?index={{tag.id}}" class="btn btn-primary">查看</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}